<input id="popup-messages" value="<%=@values%>" type="hidden" />

<div class="diet-block mainContent">
  <input id="data-lang-diet" value="<%=I18n.locale%>" type="hidden" />
  <div class="sectionTitle medicationBodyLogo medicationColor">
    <%=t 'menu_adverse' %>
  </div>
  <div class="contentBg" id="adverse_forms">
    <div class="p10">
      <%= render "forms/element", locals: {:showButton => true,
                                           :elementName => 'adverse_effects',
                                           :style => 'medicationStyle',
                                           :title => 'symptoms',
                                           :img => 'oral40.png',
                                           :elementId => 'adverses_form',
                                           :buttonClass => 'adverseAddButton',
                                           :separator => false
                                }%>
      <div class="clearBoth"></div>
    </div>

  </div>

  <div class="sectionTitle medicationBodyLogo medicationColor" style="margin-top: 40px;">
    <span class="hisTitle selected"><%=t 'history_link'%></span> </span>
    <div class="right">

    </div>
  </div>

  <table class="historyTable"  cellpadding="0" cellspacing="0">
    <tbody id="recentResourcesTable">
    </tbody>
  </table>
</div>
<script>
    pages_menu();
    adverses_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%=t :menu_adverse %> | <%= t :project_name %>
<% end %>
